*

h1 {
    text-align: center;
    color: aliceblue;
}
.card-template {
    position:absolute;
    left:50%; 
    top:50%;
}
body {
    color: aliceblue;
}

@font-face {
    font-family: MagicTheGathering;
    src: url(/assets/fonts/MAGIC.TTF);
    }
    